.page-wrapper {
  width: 7in;
  height: 9.5in;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font-size: 14pt;
  border: 1pt solid #999;
  box-sizing: border-box;
  padding-top: 1in;
  padding-left: 0.8in;
  padding-right: 0.8in;
}
h1 {
  text-align: center;
  font-size: 27pt;
}
li {
  list-style-type: none;
}
.agile-manifesto p {
  text-align: center;
  margin-bottom: 0;
}
.agile-manifesto p + p {
  margin-top: 0;
}
.agile-manifesto .signatories {
  margin-top: 24pt;
  width: 100%;
}
.agile-manifesto .signatories td {
  vertical-align: top;
}
.values {
  text-align: center;
}
.values strong {
  font-size: 18pt;
}
footer {
  margin-left: 1in;
  margin-right: 1in;
  font-size: 10pt;
  color: #999;
}
footer p {
  margin: 0;
}
footer img {
  width: 100pt;
  height: 100pt;
}
